<ion-content class="center">
  <img src='assets/images/head.png' alt="header Sang Don" id="img-head" />
  <img src='assets/images/logo.jpeg' alt="Logo Sang Don" style="margin-top: 30%;" id="logo" />

  <form #forgotForm="ngForm" (ngSubmit)="forgot(forgotForm)" method="POST">
    <div>
      <h1 style="color: #ff4546;">Récuperation de mot de passe</h1>
    </div>
    <ion-item lines="full"
      style="margin-left: 5%; margin-right: 5%; margin-top: 10%; border:2px solid #ff4546; border-radius: 25px;">
      <ion-input type="email" required placeholder="Saisir votre Email" ngModel name="email"></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
      <ion-button type="submit" color="danger" style="margin-top: 5%; font-weight: bold;" expand="float" [disabled]="!forgotForm.valid">Envoyer</ion-button>
      </ion-col>
    </ion-row>

    <small>
      Saisir l'email que vous utilisez lors de la connexion à votre compte.
    </small>
  </form>
</ion-content>
<div><img src='assets/images/foot.png' alt="header Sang Don" id="img-foot" /></div>