#logo {
    width: 30%;
    margin-top: 50px;
}

#img-head {
  position: absolute;
  top: 0;
  left: 0;
}

#img-foot{
    display: flex;
}

#input{
    margin-left: 5%; 
    margin-right: 5%; 
    margin-top: 10%; 
    border:2px solid #ff4546; 
    border-radius: 25px;
}