<ion-content class="center">
  <img src="assets/images/head.png" alt="header Sang Don" id="img-head" />
  <div class="center-form">
    <div id="center">
      <img src="assets/images/logo.jpeg" alt="Logo Sang Don" id="larg" />
    </div>
    <div id="center">
      <h1 style="color: #ff4546; margin-bottom: 20px">Informations</h1>
    </div>

    <img src="assets/images/sang.png" alt="Infos Sang Don" />

    <ion-card>
      <ion-item>
        <!-- <ion-img [src]="favicon.png"></ion-img> -->
        <ion-icon style="color: #ff4546; font-size: 35px; margin-right: 10px" name="help-circle-outline"></ion-icon>
        <ion-card-title style="font-size: 18px">Qui peut donner
        </ion-card-title>
      </ion-item>
      <ion-card-content>
        Toute personne en bonne santé, âgée de 18 à 70 ans, ne faisant pas
        l’objet d’une mesure de protection légale (tutelle…) et reconnue apte à
        l’issue de l’entretien prédon peut donner son sang.
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-item>
        <ion-icon style="color: #ff4546; font-size: 35px; margin-right: 10px" name="information-circle-outline">
        </ion-icon>
        <ion-card-title style="font-size: 18px">Les étapes de don sang
        </ion-card-title>
      </ion-item>
      <ion-card-content>
        <div style="color: black">
          <img src="assets/images/line.png" alt="Infos Sang Don" />
          <ion-label style="margin-left: 15px; margin-right: 15px">Accueil</ion-label>
          <img src="assets/images/line.png" alt="Infos Sang Don" />
        </div>
        A votre arrivée, vous êtes accueilli(e) par un agent d’accueil qui vous
        demande une pièce d'identité, enregistre votre dossier et vous remet un
        questionnaire à remplir, composé d’une cinquantaine de questions.

        <div style="color: black; margin-top: 20px">
          <img id="img" src="assets/images/line.png" alt="Infos Sang Don" />
          <ion-label style="margin-left: 15px; margin-right: 15px">Entretien pré don
          </ion-label>
          <img id="img" src="assets/images/line.png" alt="Infos Sang Don" />
        </div>
        A l’occasion d’un entretien confidentiel, un médecin ou un(e)
        infirmier(e), spécialement habilité(e) pour cela, étudie vos réponses au
        questionnaire et le complète avec vous si besoin. Il(elle) s’assure
        ainsi que votre don est sans danger pour vous, donneur, comme pour les
        patients qui recevront les produits sanguins issus de votre don. Si vous
        n’êtes pas apte au don, il(elle) vous en explique les raisons et vous
        oriente vers la collation.
      </ion-card-content>
    </ion-card>
  </div>
  <div id="img-foot">
    <img src="assets/images/foot.png" alt="footer Sang Don" />
  </div>
</ion-content>